<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- CSS -->
  <!-- <link rel="stylesheet" href="https://kylepollina.github.io/styles.css"> -->
  <link rel="stylesheet" href="../index.css">
  <link rel="stylesheet" href="../styles.css">

  <!-- Scripts -->
  
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/atom-one-dark.min.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  

</head>

<body class="
    mt-5 md:mt-5
    md:w-max md:m-auto 
    md:max-w-[800px]
  ">
  <div id='header' class="flex justify-center md:justify-start">
    <div id='header'>
    kylepollina.github.io 
</div>
  </div>
  <div class="mt-3 md:flex md:w-max">
    
<div id="nav" class="
    w-full
    md:w-max
">
    <div id='internal-links' class="content-center">

        
            <a href=https://kylepollina.github.io/ class="
                w-max
            ">
                <div class="
                    w-max
                    md:w-full
                    mx-auto
                    
                    
                        text-darkred hover:bg-darkred hover:text-white
                    
                    ">home
                </div>
            </a>
        
            <a href=https://kylepollina.github.io/about class="
                w-max
            ">
                <div class="
                    w-max
                    md:w-full
                    mx-auto
                    -my-1
                    
                        text-darkred hover:bg-darkred hover:text-white
                    
                    ">about
                </div>
            </a>
        
            <a href=https://kylepollina.github.io/writing class="
                w-max
            ">
                <div class="
                    w-max
                    md:w-full
                    mx-auto
                    -my-1
                    
                        bg-darkred text-white
                    
                    ">-writing
                </div>
            </a>
        
            <a href=https://kylepollina.github.io/research class="
                w-max
            ">
                <div class="
                    w-max
                    md:w-full
                    mx-auto
                    -my-1
                    
                        text-darkred hover:bg-darkred hover:text-white
                    
                    ">research
                </div>
            </a>
        
            <a href=https://kylepollina.github.io/interactive class="
                w-max
            ">
                <div class="
                    w-max
                    md:w-full
                    mx-auto
                    -my-1
                    
                        text-darkred hover:bg-darkred hover:text-white
                    
                    ">interactive
                </div>
            </a>
        
    </div>

    <span class="flex justify-center">---------------------</span>

    <div id='external-links'>
        <div class="mt-1 w-max mx-auto md:mx-0"><a href='https://github.com/kylepollina' class="text-darkred hover:text-white hover:bg-darkred">github</a></div>
        <div class="-mt-1.5 w-max mx-auto md:mx-0"><a href='mailto:kylepollina@pm.me' class="text-darkred hover:text-white hover:bg-darkred">kylepollina@pm.me</a></div>
    </div>

    <div id='nav-footer' class="flex justify-center mt-3">
        <p><a href="https://github.com/kylepollina/kylepollina.github.io" class="text-darkred hover:text-white hover:bg-darkred">&copy;</a> 2022 </p>
    </div>
</div> 
    <div class="
    pb-20
    md:pl-5
    prose
    prose-a:text-darkred
    hover:prose-a:text-white
    hover:prose-a:bg-darkred

    prose-em:underline
    prose-em:decoration-slate-600
    prose-em:bg-slate-200

    prose-strong:bg-slate-200

    prose-ul:my-0
    prose-li:my-0

    prose-pre:bg-white prose-pre:p-0
    prose-pre:rounded-sm
    
    prose-code:bg-slate-300
    prose-code:text-myblue
    prose-code:rounded-sm
    prose-code:shadow-inner
    prose-code:p-1
    prose-code:before:content-['']
    prose-code:after:content-['']
    prose-code:font-medium
">
    <h1>Building a static site generator</h1>
<blockquote>
<p>Why the hell am I remaking something that has already been made before?</p>
</blockquote>
<p>I decided to write my own static site generator because I was frustrated that the current
static site/blog generators were not customizable to my liking. So instead of spending a few
hours reading the documentation I spent dozens of hours building my own implementation. <em>C'est la vie</em>.</p>
<h3>Tools for the job</h3>
<ul>
<li>Python<ul>
<li><a href="https://mistune.readthedocs.io/en/latest/">Mistune</a> - Markdown parser</li>
<li><a href="https://svn.python.org/projects/external/Jinja-2.1.1/docs/_build/html/index.html">Jinja2</a> - Template engine</li>
<li><a href="https://python-watchdog.readthedocs.io/en/stable/">Watchdog</a> - Continuosly watch for changed files</li>
<li><a href="https://github.com/eyeseast/python-frontmatter">Python-frontmatter</a> - Page metadata</li>
</ul>
</li>
<li><a href="https://tailwindcss.com/">Tailwindcss</a><ul>
<li><a href="https://tailwindcss.com/docs/typography-plugin">Tailwind Typography</a> - Better CSS</li>
</ul>
</li>
</ul>
<h2>Templates</h2>
<p>The first step is to set up some basic HTML templates to be reused throughout the site. I keep these all in
a directory called <code>templates/</code></p>
<pre><code class="language-html">&lt;!-- templates/base.html --&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
{% include 'head.html' %}
{% include 'body.html' %}
&lt;/html&gt;
</code></pre>
<p>This will be the main template we'll use. Jinja allows us to include other template files in the same directory,
which is nice to make things more modular.</p>
<pre><code class="language-html">&lt;!-- templates/head.html --&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;{{ title }}&lt;/title&gt;
&lt;/head&gt;
</code></pre>
<pre><code class="language-html">&lt;!-- templates/body.html --&gt;
&lt;body&gt;
  {% include 'header.html' %}
  &lt;div&gt;
    {% include 'nav.html' %} 
    {% include 'content.html' %}
  &lt;/div&gt;
&lt;/body&gt;
</code></pre>
<p>etc.</p>
<h2>Markdown -&gt; HTML</h2>
<p>So to convert markdown to html we are going to need the <a href="https://mistune.readthedocs.io/en/latest/">Mistune</a>
package for Python. I also use <a href="https://github.com/eyeseast/python-frontmatter">python-frontmatter</a> to
read in metadata for each markdown file. I keep all of my markdown files in a directory called <code>content/</code></p>
<p>Here's a simple script to read all files from the <code>content/</code> dir and convert them into HTML.</p>
<pre><code class="language-python">def main():
    ...

if __name__ == &quot;__main__&quot;:
  main()
</code></pre>
<h2>Frontmatter</h2>
<h2>TailwindCSS for styling</h2>

</div>
  </div>
</body>

</html>