/* ┌────────────┐ */
/* │ styles.css │ */
/* └────────────┘ */

@font-face {font-family: "IBM Plex Mono Italic";  src: url("fonts/IBMPlex/IBMPlexMono-Italic.otf");}
@font-face {font-family: "IBM Plex Mono Regular";  src: url("fonts/IBMPlex/IBMPlexMono-Regular.otf");}

/* body {font-family: "IBM Plex Mono Italic";  font-size: 12pt;} */

/* em {font-family: "IBM Plex Mono Regular"} */