/* ┌────────────┐ */
/* │ styles.css │ */
/* └────────────┘ */

@font-face {font-family: "Pitch Italic";  src: url("fonts/Pitch Test/PitchTest-SemiboldItalic.otf");}
@font-face {font-family: "Pitch Medium Italic";  src: url("fonts/Pitch Test/PitchTest-MediumItalic.otf");}
@font-face {font-family: "Pitch Light";  src: url("fonts/Pitch Test/PitchTest-Light.otf");}

body {font-family: "Pitch Medium Italic";  font-size: 12pt;}
