/* ┌────────────┐ */
/* │ styles.css │ */
/* └────────────┘ */

@font-face {font-family: "Pitch Italic";  src: url("fonts/Pitch Test/PitchTest-SemiboldItalic.otf");}
@font-face {font-family: "Pitch Medium Italic";  src: url("fonts/Pitch Test/PitchTest-MediumItalic.otf");}
@font-face {font-family: "Pitch Light";  src: url("fonts/Pitch Test/PitchTest-Light.otf");}

body {font-family: "Pitch Medium Italic";  font-size: 12pt;}

/* a       {text-decoration: none;  color: #CE2029;} */
/* a:hover {background: #CE2029; color: rgb(255, 255, 255)} */

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

h1 {font-weight: bold; font-size: xx-large;}
h2 {font-weight: bold; font-size: x-large;}

em {background-color: aquamarine; text-decoration: underline;}
strong {background-color:darkslateblue; color: whitesmoke}

p {margin-top: 10px; margin-bottom: 10px;}

pre {overflow-x: scroll; width: 600px; background-color:aliceblue}