{% extends 'base.html' %}
{% block body %}

<body class="
    mt-5 md:mt-5
    md:w-max md:m-auto 
    md:max-w-[800px]
  ">

  <div id='header' class="flex justify-center md:justify-start">
    {% include 'header.html' %}
  </div>

  <div class="
      mt-3
      md:flex
      md:w-max
    ">
    <div id="nav" class="
        w-full
        md:w-max
      ">
      {% include 'nav.html' %} 
    </div>
    
    <div class="md:pl-5 md:w-[700px] prose">
      {{content}}
    </div>

  </div>

</body>

{% endblock %}
