<div class="
    pb-20
    md:pl-5
    prose
    prose-a:text-darkred
    hover:prose-a:text-white
    hover:prose-a:bg-darkred

    prose-em:underline
    prose-em:decoration-slate-600
    prose-em:bg-slate-200

    prose-strong:bg-slate-200

    prose-ul:my-0
    prose-li:my-0

    prose-pre:bg-white prose-pre:p-0
    prose-pre:rounded-sm
    
    prose-code:bg-slate-300
    prose-code:text-myblue
    prose-code:rounded-sm
    prose-code:shadow-inner
    prose-code:p-1
    prose-code:before:content-['']
    prose-code:after:content-['']
    prose-code:font-medium
">
    {{content}}
</div>