<div class="
    pb-20
    md:pl-5

    prose
    prose-h4:font-light
    prose-h4:font-mono-regular

    prose-a:text-{{link_bg}}
    hover:prose-a:text-white
    hover:prose-a:bg-{{link_bg}}

    prose-em:underline
    prose-em:not-italic
    prose-em:font-mono-regular
    
    prose-ul:my-0
    prose-li:my-0

    prose-pre:rounded-sm
    prose-pre:bg-none prose-pre:p-0
    md:prose-pre:w-max
    md:prose-pre:max-w-[750px]
    md:prose-pre:min-w-full
    prose-pre:font-mono-regular

    prose-code:bg-slate-300
    prose-code:text-{{link_bg}}
    prose-code:rounded-sm
    prose-code:shadow-inner
    prose-code:p-1
    prose-code:before:content-['']
    prose-code:after:content-['']
    prose-code:font-light
    dark:prose-code:bg-slate-700

    dark:text-slate-300
    dark:prose-h1:text-slate-300
    dark:prose-h2:text-slate-300
    dark:prose-h3:text-slate-300
    dark:prose-h4:text-slate-300
    dark:prose-blockquote:text-slate-300


">
{{content}}
</div>