<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{% if is_sketch %}../{% endif %}../styles.css">
  <!-- Scripts -->
  {% if requires_p5 %}<script src="{% if is_sketch %}../{% endif %}../scripts/p5/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="{% if is_sketch %}../{% endif %}../scripts/p5/addons/p5.dom.js"></script>
  <script src="{{ sketch_name }}.js"></script>
  {% for script in utility_scripts %}<script src="../../scripts/p5-utilities/{{ script }}"></script>
  {% endfor %}
  {% endif %}
</head>
