<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- CSS -->
  <!-- <link rel="stylesheet" href="https://kylepollina.github.io/styles.css"> -->
  <link rel="stylesheet" href="{% for parent in range(parents - 1) %}../{% endfor %}index.css">
  <link rel="stylesheet" href="{% for parent in range(parents - 1) %}../{% endfor %}styles.css">

  <!-- Scripts -->
  {% for script in scripts %}
  <script language="javascript" type="text/javascript" src="{{script}}"></script>
  {% endfor %}
  {% if highlight %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/atom-one-dark.min.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}

</head>
