
<div id='internal-links' class="content-center">
    <div class="mt-1 w-max mx-auto md:mx-0"><a href='https://kylepollina.github.io/'>{% if page == 'home' %}↳{% endif %}home</a></div>
    <div class="-mt-1 w-max mx-auto md:mx-0"><a href='https://kylepollina.github.io/earthscience'>{% if page == 'earthscience' %}↳{% endif %}earthscience</a></div>
    <a href='https://kylepollina.github.io/wildlife' class="hover:text-cyan-500"><div class="-mt-1 w-max mx-auto md:mx-0">{% if page == 'wildlife' %}↳{% endif %}wildlife</div></a>
    <a href='https://kylepollina.github.io/art'><div class="-mt-1 w-max mx-auto md:mx-0">{% if page == 'art' %}↳{% endif %}art</div></a>
</div>

<hr class="mt-1 -mr-10">

<div id='external-links'>
    <div class="mt-1 w-max mx-auto md:mx-0"><a href='https://github.com/kylepollina'>github</a></div>
    <div class="-mt-1 w-max mx-auto md:mx-0"><a href='mailto:kylepollina@pm.me'>kylepollina@pm.me</a></div>
</div>

<div id='nav-footer' class="flex justify-center mt-3">
    <p><a href="https://vulfpeck.com/">&copy;</a> {{year}} </p>
</div>