
<div id='internal-links' class="content-center">

    {% for page_name, url in {
        'home': 'https://kylepollina.github.io/',
        'about': 'https://kylepollina.github.io/about',
        'writing': 'https://kylepollina.github.io/writing',
        'research': 'https://kylepollina.github.io/research',
        'interactive': 'https://kylepollina.github.io/interactive',
    }.items() %}
        <a href={{url}} class="
            w-max
        ">
            <div class="
                w-max
                md:w-full
                mx-auto
                {% if page_name != 'home' %}-my-1{% endif %}
                {% if page == page_name %}
                    bg-darkred text-white
                {% else %}
                    text-darkred hover:bg-darkred hover:text-white
                {% endif %}
                ">{% if page == page_name %}-{% endif %}{{page_name}}
            </div>
        </a>
    {% endfor %}
</div>

<!-- <hr class="mt-1 -mr-10"> -->
---------------------

<div id='external-links'>
    <div class="mt-1 w-max mx-auto md:mx-0"><a href='https://github.com/kylepollina' class="text-darkred hover:text-white hover:bg-darkred">github</a></div>
    <div class="-mt-1.5 w-max mx-auto md:mx-0"><a href='mailto:kylepollina@pm.me' class="text-darkred hover:text-white hover:bg-darkred">kylepollina@pm.me</a></div>
</div>

<div id='nav-footer' class="flex justify-center mt-3">
    <p><a href="https://github.com/kylepollina/kylepollina.github.io" class="text-darkred hover:text-white hover:bg-darkred">&copy;</a> {{year}} </p>
</div>