
<div id="nav" class="
    w-full
    md:w-max
">
    <div id='internal-links' class="content-center">

        {% for page_name, (url, bg, fg) in nav_info.items() %}
            <a href={{url}} class="
                w-max
            ">
                <div class="
                    w-max
                    md:w-full
                    mx-auto
                    {% if page_name != 'home' %}-my-1{% endif %}
                    {% if page == page_name %}
                        text-{{ fg }} bg-{{ bg }}
                    {% else %}
                        text-{{ bg }} bg-{{ fg }}
                        hover:text-{{ fg }} hover:bg-{{ bg }}
                    {% endif %}
                    ">{% if page == page_name %}-{% endif %}{{page_name}}
                </div>
            </a>
        {% endfor %}
    </div>

    <span class="flex justify-center">---------------------</span>

    <div id='external-links'>
        <div class="mt-1 w-max mx-auto md:mx-0"><a href='https://github.com/kylepollina' class="text-{{link_bg}} hover:text-white hover:bg-{{link_bg}}">github</a></div>
        <div class="-mt-1 w-max mx-auto md:mx-0"><a href='mailto:kylepollina@pm.me' class="text-{{link_bg}} hover:text-white hover:bg-{{link_bg}}">kylepollina@pm.me</a></div>
    </div>

    <div id='nav-footer' class="flex justify-center mt-3">
        <p><a href="https://github.com/kylepollina/kylepollina.github.io" class="text-darkred hover:text-white hover:bg-darkred">&copy;</a> {{year}} </p>
    </div>
</div>