{% extends 'body.html' %}
{% block content %}

<div id="sketch">
  <div id="{{ sketch_name }}-holder">
  </div>
</div>

<br>

<details>
  <summary><a>Source code</a></summary>

  <!-- Raw here is first pass of creating the tmp file. We want to create a jinja template
    that will import the p5js file that generated the sketch -->
  <!-- This template basically creates a template that we add the sketch code in later -->
  <pre><code class="javascript">{% raw %}{% include  '{% endraw %}{{ sketch_name }}{% raw %}.js' %}{% endraw %}</code></pre>

  {% for script in p5_utility_scripts %}
    <ul>
      <a href="https://github.com/kylepollina/p5-utilities/blob/master/{{ script }}">p5-utilities/{{ script }}</a>
    </ul>
  {% endfor %}

</details>

{% endblock %}
