{% extends 'body.html' %}
{% block content %}

<div id="posts">
    <div style="font-size: 11pt; font-family: Pitch Light Italic">
    I enjoy digitally recreating classic ukiyo-e Japanese Woodblock Prints. Here are some that I've done.
    </div>
    <hr>
    Utagawa Hiroshige Series
    {% for drawing in hiroshige %}
    <img src="hiroshige/{{ drawing }}.png">
    {% endfor %}

    Ichijô Narumi Series
    {% for drawing in narumi %}
    <img src="narumi/{{ drawing }}.png">
    {% endfor %}
</div>

{% endblock %}
